node_modules/
.settings/
.project
.classpath
.vscode/
ios/EasyTrackingIO.xcodeproj/xcuserdata/cdecmac00.xcuserdatad/xcschemes/xcschememanagement.plist
ios/EasyTrackingIO.xcodeproj/xcuserdata/cdecmac03.xcuserdatad/xcschemes/xcschememanagement.plist
